{% extends 'base.html' %}

{% block header %}
 <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}


{% block content %}
 <form method="post">
     <!-- For full names -->
     <label>Full Name</label><br>
     <input type="text" name="full_name" id="full_name" placeholder="Brown Jeffrey Adam" required><br>
     <!-- For Gender selection -->
      <label>Gender</label><br>
     <select id="gender" name="gender" required>
         <option value="" disabled selected hidden>Select</option>
         <option value="Male">Male</option>
         <option value="Female">Female</option>
     </select><br>
     <!-- For D.O.B selection -->
     <label>Date of birth</label><sub> ( Will not be shared )</sub><br>
     <input type="date" name="dob" id="dob" placeholder="select" required><br>
     <!-- For region selection -->
     <label>Region</label><br>
     <select id="region" name="region" required>
         <option value="" disabled selected hidden>Select</option>
         {% for code, country in countries %}
            <option value="{{ country }}">{{ country }}</option>
         {% endfor %}
     </select><br>
     <!-- For Email -->
     <label>Email</label><sub> ( Will not be shared )</sub><br>
     <input type="email" name="email" id="email" placeholder="someone@email.com" required><br>
     <!-- For UserName -->
     <label>Username</label><br>
     <input type="text" id="username" name="username" readonly required style="background-color: lightgrey;"><br>
     <!-- For password -->
     <label>Password</label><br>
     <input type="password" name="password" id="password" placeholder="Must be 8-char long" required><br>
     <!-- For submit button -->
     <input type="submit" value="register">
 </form>
{% endblock %}