{% extends 'base.html' %}

{% block content %}
<h1>This profile page is set</h1>
{% if g.user and g.user['id'] == user['pic_path'] %}
<img src="{{ url_for('static', filename='img/profile_pic_uploads/' ~ user['pic_path']) }}" alt="Profile picture" width="200">
{% else %}
<img src="{{ url_for('static', filename='img/profile_pic_uploads/avater.png') }}" alt="profile Avatar">
{% endif %}
<a href="{{ url_for('user.update') }}">Update</a>
<ul>
    <li>{{ user['full_name'] }}</li>
    <li>{{ user['username'] }}</li>
    <li>{{ user['about_user'] }}</li>
    <li>{{ user['region'] }}</li>
    <li>{{ user['website_link'] }}</li>
</ul>
{% endblock %}