{% extends 'base.html' %}
 {% block title %}Home{% endblock %}
{% block header %}
 <div class="home-search-container">
 <form action="#" method="get">
     <input type="text" name="query" placeholder="Name, Post, Place...">
     <button type="submit" name="submit-query"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
 </form>
 </div><br><br><br>

 <div class="home-block-header">
     {% if g.user %}
     <form method="post">
         <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
         <input type="submit" id="post" value="post">
     </form>
     {% endif %}
 </div><br><br>
{% endblock %}

{% block content %}
  {% for post in posts %}
     <article>
         <header>
             <div class="user-header">
                 {% if  post is defined and post['pic_path'] %}
                    <img src="{{ url_for('static', filename='img/profile_pic_uploads/' ~ post['pic_path']) }}" class="a" alt="Profile picture">
                 {% else %}
                    <img src="{{ url_for('static', filename='img/profile_pic_uploads/avatar.png') }}" class="a" alt="user picture">
                 {% endif %}


                 {% if g.user %}
                    {% if g.user and g.user['id'] == post['author_id'] %}
                        <span class="about"><a href="{{ url_for('user.profile', username=g.user['username'] ) }}">{{ post['full_name'] }} <span class="about-child">- {{ post['username'] }} . {{ post['humanized_time'] }}</span></a></span>
                    {% else %}
                        <span class="about"><a href="{{ url_for('user.profile', username=post['username'] ) }}">{{ post['full_name'] }} <span class="about-child">- {{ post['username'] }} . {{ post['humanized_time'] }}</span></a></span>
                    {% endif %}
                 {% else %}
                        <span class="about"><a href="{{ url_for('auth.login') }}">{{ post['full_name'] }} <span class="about-child">- {{ post['username'] }} . {{ post['humanized_time'] }}</span></a></span>
                 {% endif %}



                     {% if g.user and g.user['id'] == post['author_id'] %}
                        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
                     {% endif %}
              </div>

         </header>


         <p class="body">{{ post['body'] }}</p>
     </article>
     {% if not loop.last %} <hr> {% endif %}
  {% endfor %}
{% endblock %}
